*.mq4           filter=git-crypt diff=git-crypt
*.mqh           filter=git-crypt diff=git-crypt
*.ex4           filter=git-crypt diff=git-crypt
*.key           filter=git-crypt diff=git-crypt
notes           filter=git-crypt diff=git-crypt
notestrading    filter=git-crypt diff=git-crypt
feabugs         filter=git-crypt diff=git-crypt
techStack       filter=git-crypt diff=git-crypt
